name: Intialise Terraform Code and Plan

#Workflow Triggers
on:
  workflow_dispatch:
    branches:
      - master

##Environment Variables      
env:
  S3_BUCKET: ${{ secrets.S3_BUCKET }}
  AWS_REGION: ${{ vars.AWS_REGION }}
  AWS_CREDENTIALS: ${{ secrets.AWS_CREDENTIALS }}
  GITHUB_TOKEN: ${{}}

#Define Jobs
jobs:
  terraform:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read 

    steps:

    - name: Checkout repository
      uses: actions/checkout@v4


    - name: Configure AWS credentials using OIDC
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: ${{ secrets.AWS_CREDENTIALS }}
        aws-region: ${{ vars.AWS_REGION }}

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: latest

    - name: Initialise Terraform
      working-directory: ./terraform
      run: terraform init -backend-config="bucket=$S3_BUCKET"


    - name: Terraform apply
      id: apply
      run: terraform apply -parallelism=1 --auto-approve


    

    

    