name: Intialise Terraform Code and Plan

on:
  workflow_dispatch:
    branches:
      - master

##Environment Variables      
env:
  S3_BUCKET: ${{ secrets.S3_BUCKET }}
  AWS_REGION: ${{ vars.AWS_REGION }}
  AWS_CREDENTIALS: ${{ secrets.AWS_CREDENTIALS }}

permissions:
      id-token: write
      contents: read 


#Define Jobs
jobs:
  terraform:
    runs-on: ubuntu-latest

    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4


    - name: Configure AWS credentials using OIDC
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: ${{ secrets.AWS_CREDENTIALS }}
        aws-region: ${{ vars.AWS_REGION }}

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: latest

    - name: Initialise Terraform
      working-directory: ./terraform
      run: terraform init -backend-config="bucket=$S3_BUCKET"

    - name: Terraform format
      working-directory: ./terraform
      run: terraform fmt --recursive

    - name: Terraform Validate 
      working-directory: ./terraform
      run: terraform validate

    - name: Run Checkov with reviewdog
      uses: fulgas/reviewdog-action-checkov@v2.3.0
      with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

    - name: Terraform plan
      id: plan 
      run: terraform plan 

    - name: Terraform plan status
      if: steps.plan.outcome == 'failure'
      run: exit 1



  