name: Build Scan and Push Docker Images to ECR

on:
  push:
    branches:
      - master
    #paths:
     # - 'robotshop/cart/**'
      #- 'robotshop/catalogue/**'
     # - 'robotshop/payment/**'
     # - 'robotshop/mongo/**'
     # - 'robotshop/mysql/**'
      #- 'robotshop/ratings/**'
     # - 'robotshop/shipping/**'
     # - 'robotshop/user/**'
     # - 'robotshop/web/**'
     # - '.github/workflows/**'


permissions:
  id-token: write
  contents: read 
  security-events: write

env:
  AWS_REGION: ${{ vars.AWS_REGION }}
  

jobs:
  build-scan-push:
    runs-on: ubuntu-latest


    strategy:
      fail-fast: false
      matrix:
        service:
          - cart
          - catalogue
          - payment
          - mongo
          - mysql
          - ratings
          - shipping
          - user
          - web
          - dispatch


    steps:
    - name: Checkout repository
      uses: actions/checkout@v4


    
# Configure AWS credentials using OIDC

    - name: Configure AWS credentials using OIDC
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
        aws-region: ${{ env.AWS_REGION }}

## Login to ECR

    - name: Login to Amazon ECR
      id: login-ecr 
      uses: aws-actions/amazon-ecr-login@v2


##Creating an auto incrementing version system

    - name: Auto-increment version
      id: version
      run: |
        git fetch --tags
        LAST_TAG=$(git tag --list "v*" --sort=-v:refname | head -n 1 )
        
        if [ -z "$LAST_TAG" ]; then
          NEXT_TAG="v1"
        else
          NUM=${LAST_TAG#v}
          NEXT_TAG="v$((NUM + 1))"
        fi

        echo "tag=$NEXT_TAG" >> $GITHUB_OUTPUT

#Build Docker images 

    - name: Build Docker Images 
      id: build-image
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        SERVICE: ${{ matrix.service }}
        IMAGE_TAG: ${{ steps.version.outputs.tag }}
      run: |
        cd robotshop/$SERVICE
        IMAGE_REF="$ECR_REGISTRY/$SERVICE:$IMAGE_TAG"
        docker build -t $IMAGE_REF .
        echo "image-ref=$IMAGE_REF" >> $GITHUB_OUTPUT

#Trivy Scan
    - name: Scan Image with Trivy
      id: trivy
      uses: aquasecurity/trivy-action@0.33.1
      with:
          image-ref: ${{ steps.build-image.outputs.image-ref }}
          format: sarif
          output: trivy-${{ matrix.service }}.sarif
          ignore-unfixed: true
          exit-code: "0"
          vuln-type: os,library
          severity: CRITICAL,HIGH

# Upload image report to GitHub Security
    - name: Upload Trivy image scan results
      if: always()
      uses: github/codeql-action/upload-sarif@v3
      with:
        category: "trivy-${{ matrix.service }}"
        sarif_file: "trivy-${{ matrix.service }}.sarif"


#Push image only if Trivy Scan is successfull   

    -  name: Push Docker Images to Amazon ECR 
       if: steps.trivy.outcome == 'success'
       run: |
         docker push ${{ steps.build-image.outputs.image-ref }}


##Ensure all images use the same version

    - name: Create the Git tag
      if: steps.trivy.outcome == 'success'
      run: |
        git tag ${{ steps.version.outputs.tag }}
        git push origin ${{ steps.version.outputs.tag }}

  