name: Build Scan and Push Docker Images to ECR

on:
  push:
    branches:
      - master
    #paths:
     # - 'robotshop/cart/**'
      #- 'robotshop/catalogue/**'
     # - 'robotshop/payment/**'
     # - 'robotshop/mongo/**'
     # - 'robotshop/mysql/**'
      #- 'robotshop/ratings/**'
     # - 'robotshop/shipping/**'
     # - 'robotshop/user/**'
     # - 'robotshop/web/**'
     # - '.github/workflows/**'


permissions:
  id-token: write
  contents: read 
  security-events: write

env:
  AWS_REGION: ${{ vars.AWS_REGION }}
  

jobs:
  build-scan-push:
    runs-on: ubuntu-latest


    strategy:
      fail-fast: false
      matrix:
        service:
          - cart
          - catalogue
          - payment
          - mongo
          - mysql
          - ratings
          - shipping
          - user
          - web
          - dispatch


    steps:
    - name: Checkout repository
      uses: actions/checkout@v4


    
# Configure AWS credentials using OIDC

    - name: Configure AWS credentials using OIDC
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
        aws-region: ${{ env.AWS_REGION }}

## Login to ECR

    - name: Login to Amazon ECR
      id: login-ecr 
      uses: aws-actions/amazon-ecr-login@v2


## Generate Tag for Docker Images
  
    - name: Get image tag
      id: meta
      run: |
       echo "tag=$(git rev-parse --short HEAD)-$(data + '%Y-%m-%d-%H-%M')" >> $GITHUB_OUTPUT

#Build Docker images 

    - name: Build Docker Images 
      id: build-image
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        SERVICE: ${{ matrix.service }}
        IMAGE_TAG: ${{ steps.meta.outputs.tag }}
      run: |
        cd robotshop/$SERVICE
        IMAGE_REF="$ECR_REGISTRY/$SERVICE:$IMAGE_TAG"
        docker build -t $IMAGE_REF .
        echo "image-ref=$IMAGE_REF" >> $GITHUB_OUTPUT

#Trivy Scan
    - name: Scan Image with Trivy
      uses: aquasecurity/trivy-action@0.33.1
      with:
          image-ref: ${{ steps.build-image.outputs.image-ref }}
          format: sarif
          output: trivy-${{ matrix.service }}.sarif
          ignore-unfixed: true
          exit-code: "1"
          vuln-type: os,library
          severity: CRITICAL,HIGH

# Upload image report to GitHub Security
    - name: Upload Trivy image scan results
      uses: github/codeql-action/upload-sarif@v2
      with:
        category: "trivy-${{ matrix.service }}"
        sarif_file: "trivy-${{ matrix.service }}.sarif"


#Push image only if Trivy Scan is successfull   

    -  name: Push Docker Images to Amazon ECR  
       run: |
         docker push ${{ steps.build-image.outputs.image-ref }}

  