name: Push Docker Image to ECR 

on:
  push:
    branches:
      - master

env:
  AWS_REGION: ${{ vars.AWS_REGION }}
  AWS_CREDENTIALS: ${{ secrets.AWS_CREDENTIALS }}
  REPOSITORY: ${{ vars.REPOSITORY }}


permissions:
  id-token: write
  contents: read 


jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout repository
      uses: actions/checkout@v4

# Configure AWS credentials using OIDC

    - name: Configure AWS credentials using OIDC
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: ${{ secrets.AWS_CREDENTIALS }}
        aws-region: ${{ vars.AWS_REGION }}

## Login to ECR

    - name: Login to Amazon ECR
      id: login-ecr 
      uses: aws-actions/amazon-ecr-login@v1


## Get commit hash
  
    - name: Get commit hash
      id: get-commit-hash
      run: |
       echo "commit-hash=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
    - name: Get timestamp
      id: get-timestamp
      run: |
        echo "timestamp=$(date +'%Y-%m-%d-%H-%M')" >> $GITHUB_OUTPUT
      

#Build Docker image 

    - name: Build Docker Image 
      id: build-image
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        ECR_REPOSITORY: ${{ vars.REPOSITORY }}
        IMAGE_TAG: ${{ steps.get-commit-hash.outputs.commit-hash }}-${{ steps.get-timestamp.outputs.timestamp }}
      run: |
        cd app
        IMAGE_REF="$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG"
        docker build -t $IMAGE_REF .
        echo "image-ref=$IMAGE_REF" >> $GITHUB_OUTPUT

#Running Trivy here to spot vulnerabilities with Docker image

    - name: Run Trivy Vulnerability Scanner
      uses: aquasecurity/trivy-action@0.31.0
      with:
        image-ref: ${{ steps.build-image.outputs.image-ref }}
        format: 'table'
        exit-code: '1'
        ignore-unfixed: true
        vuln-type: 'os,library'
        severity: 'CRITICAL,HIGH'

# If Trivy passed, push image!!     

    - name: Push Docker Image to Amazon ECR
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        ECR_REPOSITORY: ${{ vars.REPOSITORY }}
        IMAGE_TAG: ${{ steps.get-commit-hash.outputs.commit-hash }}-${{ steps.get-timestamp.outputs.timestamp }}

      run: |
        docker push ${{ steps.build-image.outputs.image-ref }}